*{
    margin:0px;
    padding:0px;
}

@font-face {
    font-family: coolfont;
    src: url(../img/RacingSansOne-Regular.ttf);
}
#header1{
    background-image: url(../img/Sonic-banner.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;

    width: 100%;
    height: 200px;
    padding-top: 100px;
    
    color: rgb(59, 182, 196);
    background-color: navy;
    
    text-align: center;
    font-weight: 600;
    font-size: larger;
    font-family: coolfont;
    text-shadow: 10px 7px 4px black;
}

#container{
    background-color:white;
}

#footer{
    width: 100%;
    height: 50%;

    text-align: center;

    background-color: aqua;
    color: black;
}

#nav{
    width: 100%;
    height: 10px;

    background-color: navy;
    color: white;

    padding-bottom: 48px;
}

#nav ul{
    display: flex ;
    justify-content: center;
    list-style: none;
}

#nav ul a{
    text-decoration: none;
    color: white;
    display: table;
    /*Esto es un comentario */
    padding:20px 35px 20px 35px;
}

#nav ul a:hover{
    background-color:rgb(59, 182, 196);
    border-radius: 15%;
    border-color: solid blueviolet;
}

.texto-justificado{
    text-align: justify;
}
.texto-flotante{
    float: left;
}

#cuerpo{
    padding-top: 10px;
    font-family: coolfont;
    background-color:rgb(30, 159, 199);
}


#aliineado-texto-arriba{
    vertical-align: text-top;
}

#cuerpo p{
    padding-left: 30px;
    padding-right: 20px;
    padding-top: 10px;
}

#cuerpo ul{
    padding-left: 50px;
}

#cuerpo a:hover{
    background-color: white;
    border-style: dotted;
    border-color: blue;
}
#cuerpo ol{
    padding-left: 50px;
    padding-right: 20px;
}

#seccion{
    padding-left: 10px;
}

.img-tiny{
    width: 30%;
    background-color: rgb(30, 159, 199);
    padding-right: 10px;
}

.img-big{
    width: 500px;
    height: 100%
}
.img-tails{
    height: 100%;
    width: 500px;
}

.img-normal{
    width: 300px;
    height: 350px;
    padding-right: 25px;
}

.img-sml{
    width: 275px;
    height: 250px;
    padding-right: 10px;
}

#texto-centrado{
    text-align:center;
}
